.login {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.6);
  flex-direction: column;
  height: 500px;
  gap: 20px;
}
.login img {
  height: 80px;
  object-fit: contain;
}
.login h1 {
  font-size: 2rem;
}
.login button {
  background-color: #0a8d48 !important;
  padding: 20px !important;
  cursor: pointer;
  color: white !important;
  font-size: 1rem;
  text-transform: inherit !important;
}
